<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://source.unsplash.com/qO-PIF84Vxg/100%);">
  <div class="container">
    <h1>Find your match</h1>
    <p>Take us out for a walk if you miss having an animal of your own or find someone to walk your pet.</p>
    <%= link_to "Post a pet", new_pet_path, class: "btn btn-post btn-lg" %>
  </div>
</div>

<div class="container">


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


  <div class="cards">
    <%= form_tag pets_path, method: :get do %>
    <%= select_tag :species, options_for_select([ "all", "cat", "dog", "turtle", "rabit", "hamster", "mouse", "bird", "fish", "other"]) %>
    <div id="range-field-value">
      pets up to 100 years old
    </div>
    <%= range_field_tag(:age, value = 100, options = {class: "pet-range-input", min: 0, max: 100}) %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>


  <div class="cards">
    <% @pets.each do |pet| %>
        <div class="card-trip">
          <div class="card-trip-infos">
            <div>
              <div>
                <h3><%= pet.name %></h3>
                <p>I am a <%= pet.species %>!</p>
                <p>"<%= pet.description.first(30) %>..."</p>
                <p><%= pet.location %></p>
              </div >
               <%= cl_image_tag pet.photo.key, height: 200, width: 350, crop: :fill %>
            </div>
          </div>
            <%= link_to "", pet_path(pet), class: 'card-link' %>
        </div>
    <% end %>
  </div>
</div>





<!--
<div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Species
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Dogs</button>
      <button class="dropdown-item" type="button">Cats</button>
      <button class="dropdown-item" type="button">Other</button>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Location
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Stockholm</button>
      <button class="dropdown-item" type="button">Uppsala</button>
      <button class="dropdown-item" type="button">Malmö</button>
    </div>
  </div>



  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Date
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Week 1 </button>
      <button class="dropdown-item" type="button">Week 2</button>
      <button class="dropdown-item" type="button">Week 3</button>
    </div>
  </div>
</div>

 -->



