<div class="banner-index" style="background-image: url('<%= image_path 'dog-running.jpg' %>');">
  <div class="banner-content">
    <h1>Walk me</h1>
    <p>Take us out for a walk if you miss having an animal of your own or find someone to walk your pet.</p>
    <%= link_to "Add a pet", new_pet_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @pets.each do |pet| %>
        <div class="card-trip">
          <img src="https://source.unsplash.com/500x400/?dog" />
          <div class="card-trip-infos">
            <div>
              <h2><%= pet.name %></h2>
              <p><%= pet.species %></p>
              <p><%= pet.description %></p>
            </div>
            <img src="https://source.unsplash.com/400x400/?portrait" class="card-trip-user avatar-bordered" />
          </div>
            <%= link_to "", pet_path(pet), class: 'card-link' %>
        </div>
    <% end %>
  </div>
</div>


<!--
<div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Species
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Dogs</button>
      <button class="dropdown-item" type="button">Cats</button>
      <button class="dropdown-item" type="button">Other</button>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Location
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Stockholm</button>
      <button class="dropdown-item" type="button">Uppsala</button>
      <button class="dropdown-item" type="button">Malmö</button>
    </div>
  </div>



  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Date
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Week 1 </button>
      <button class="dropdown-item" type="button">Week 2</button>
      <button class="dropdown-item" type="button">Week 3</button>
    </div>
  </div>
</div>

 -->



