<div class="container">

  <div class="text-center">
    <h1>Add your Pet</h1>
  </div>

  <div>
    <%= simple_form_for @pet do |f| %>
          <%= f.input :name %>
          <%= f.input :species, collection: ["cat", "dog", "turtle", "rabit", "hamster", "mouse", "bird", "fish", "other"] %>
          <%= f.input :age%>
          <%= f.input :location%>
          <%= f.input :description %>
          <%=f.button :submit, "Post my pet", class: "btn-flat"%>
          <%= f.input :photo, as: :file %>
    <% end %>
  </div>
</div>
