<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/YCPkW_r_6uA/100%);">
  <div class="container">
    <h2>Add a new friend!</h2>
    <p>We are exciting to meet a new friend <i class="fas fa-heart"></i></p>
  </div>
</div>

<div class="container">
  <div>
    <%= simple_form_for @pet do |f| %>
          <%= f.input :name %>
          <%= f.input :species, collection: ["cat", "dog", "turtle", "rabit", "hamster", "mouse", "bird", "fish", "other"] %>
          <%= f.input :age%>
          <%= f.input :location%>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%=f.button :submit, "Post!", class: "btn-flat"%>
    <% end %>
  </div>
</div>
