<div class="banner banner-pet-show">
  <div class="container">
    <h2>Hello, I am <strong><%= @pet.name.upcase %></strong></h2>
    <p><em>species:</em> <%= @pet.species %>, <em>Age:</em> <%= @pet.age %></p>
    <%= link_to 'Book a time with me!', new_pet_booking_path(@pet), class: 'btn btn-confirm' %>
  </div>
</div>


<div class="container">
  <br>
  <br>
  <div> <%= cl_image_tag @pet.photo.key, crop: :fill if @pet.photo.attached? %> </div>

  <div class="card-product">
  <%= cl_image_tag @pet.user.photo.key, class: "avatar-square" %>
  <div class="card-product-infos">
    <p>Owner: <em><strong><%= @pet.user.name %></strong></em>, lives in <em><strong><%= @pet.user.location %></strong></em></p>
    <i class="fas fa-quote-left"></i> <%= @pet.description %>
  </div>
  </div>
  <br>
  <br>
  <%= link_to 'Back to the list', pets_path(@pet), class: 'btn' %>
  <br>
  <br>

</div>

