<div class="container">
  <h1>Booking details</h1>
  <br>
  <br>
  <h3>Your booking with <strong><%= @booking.pet.name.upcase %></strong></h3>
  <br>
  <div class="card-product">
  <div class="card-product-infos">
      <p><strong>Time: </strong>from <em><%= @booking.start_date.strftime("%H:%M") %></em> to <em><%= @booking.end_date.strftime("%H:%M") %></em></p>
      <p>Booked by: <em><%= link_to @booking.user.name, '#' %></em></p>
  </div>
  </div>
  <br>
  <br>
  <div class="d-line">
    <%= link_to 'Confirm', user_path(current_user), class: 'btn-confirm' %>
    <%= link_to 'Back', :back, class: 'btn' %>
  </div>
  <br>
  <br>
</div>
