<div class="container">
    <h1 class="text-center">Edit profile</h1>

  <%= simple_form_for(@user) do |f| %>
    <%= f.input :name, html5: true %>
    <%= f.input :location, html5: true %>
    <%= f.input :bio, html5: true %>
    <%= f.button :submit, "Update your profile", class: "btn-confirm" %>
  <% end %>
</div>
