<div class="banner">
  <div class="container user-header">
    <h1 class="">My Page <i class="fas fa-heart"></i></h1>
  </div>
</div>

<div class="container" >
  <h3 class="m-b-20 p-b-5 b-b-default f-w-600 user-header">Profile</h3>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-12 col-md-12 pl-0 pr-0">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25"> <img src="https://via.placeholder.com/100" class="img-radius" alt="User-Profile-Image"> </div>
                            <h2 class="f-w-600"><%=@user.name %></h2>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <p class="m-b-20 p-b-5 b-b-default f-w-600">Contact Info</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="m-b-10 f-w-600">Lives in</h6>
                                    <h6 class="text-muted f-w-400"><%=@user.location %></h6>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="m-b-10 f-w-600">Email</h6>
                                    <h6 class="text-muted f-w-400"><%=@user.email %></h6>
                                </div>
                            </div>
                            <p class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">About Me</p>
                            <div class="row">
                                <div class="col-sm-12 col-xl-12">
                                  <h6 class="text-muted f-w-400"><%=@user.bio %></h6>
                                </div>
                            </div>
                            <p class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></p>
                            <div class="row">
                              <div class="col-sm-12 col-xl-12 user-profile-btn">
                                <% if @user === current_user %>
                                  <h6><%= link_to "Edit my profile", edit_user_path(@user), class:"btn-confirm" %></h6>
                                <% end %>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="m-b-20 p-b-5 b-b-default f-w-600 user-header"><%= @user.name.capitalize %>'s pets</h3>
  <div class="justify-content-center">
    <div class="cards justify-content-center mt-3">
      <% @pets.each do |pet| %>
          <div class="card-trip">
            <div class="card-trip-infos">
              <div>
                <h2><%= pet.name %></h2>
                <p><%= pet.species %></p>
                <p><%= pet.description %></p>
                <%= cl_image_tag pet.photo.key %>

              </div>
            </div>
              <%= link_to "", pet_path(pet), class: 'card-link' %>
          </div>
      <% end %>
    </div>
</div>


<div class="container">
  <% if @user === current_user %>
    <h3 class="m-b-20 p-b-5 b-b-default f-w-600 user-header">All your bookings</h3>
    <ul class="list-group list-group-flush">
    <% @bookings.each do |b| %>
        <% if b.user === current_user %>
        </div>
            <li class="list-group-item">
              <div class="col-sm-8">
                <i class="m-b-10 f-w-600 fas fa-paw"> <%= b.pet.name %> </i> the <%= b.pet.species %>
              </div>
              <div class="col-sm-4">
                <% if @user === current_user %>
                <%= link_to 'edit', edit_pet_booking_path(pet_id: b.pet, id: b), class: 'btn' %>
                <%= link_to 'delete',
                pet_booking_path(pet_id: b.pet, id: b),
                method: :delete,
                data: {confirm: "Are you sure?"}, class: 'btn'
               %>
               <% end %>
              </div>
              <p><%= b.start_date %> ~ <%= b.end_date %></p>
            </li>
        <% end %>
    <% end %>
  </ul>
  <% end %>
</div>

